In [1]:
import pandas as pd
df=pd.read_csv("netflix_titles.csv")

In [10]:
import sqlalchemy as sal
engine = sal.create_engine('mssql://LAPTOP-RN0BE0HM\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [11]:
#load the data into sql server using append option
df.to_sql('netflix_raw', con=conn , index=False, if_exists = 'append')
conn.close()

In [4]:
len(df)

8807

In [5]:
# df

In [6]:
df[df['show_id']=='s8775']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8774,s8775,Movie,يوم الدين,Abu Bakr Shawky,"Rady Gamal, Ahmed Abdelhafiz, Shahira Fahmy, S...","Egypt, Austria, United States","October 22, 2019",2018,TV-14,97 min,"Dramas, Independent Movies, International Movies",A man cured of leprosy and a young orphan leav...

In [7]:
max(df.description.str.len())

248

In [16]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64